*{
    margin: 0;
    padding: 0;
}
form{
    border: 1px solid #000;
    margin-top: 10%;
    height: 75vh;
    width: 30vw;
    margin-left: 15%;
    border-radius: 25px;
}
form h1{
    margin-top: 2%;
    margin-left: 3%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
input{
    width: 20vw;
    height: 5vh;
    margin-left: 15%;
    margin-top: 10%;
    border-top: none;
    border-left: none;
    border-right: none;
}
form p{
    margin-left: 15%;
}
.button{
    border: 1px solid #55bcf7;
    border-radius: 25px;
    background-color: #55bcf7;
    color: white;
    font-size: 20px;
    font-weight: bold;
}